@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body, *{
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
}

.citizen-feed{
  min-height: 100vh;
  background: url('../img/bg.png') no-repeat;
  background-size: 100% 100%;
  background-position: center;
}


.cf-main-outer{
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}


.cf-main-middle {
    display: table-cell;
    vertical-align: middle;
}

.cf-main-inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    text-align: center;
}

.cf-main-inner .heading{
	color: #ed710a;
    font-weight: 600;
        letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
}

.cf-main-inner .centered-logo{
	margin: 30px auto;
	
	height: auto;
}

.cf-main-inner .centered-logo img{
	max-width: 100%;
	max-width: 250px;
	height: auto;
}

.cf-main-inner .lng-buttons{

}
.cf-main-inner .lng-buttons .btn{
	border-radius: 0px;
	color: #313030;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	margin-top: 30px;
	margin-left: 15px;
	margin-right: 15px; 
	border-color: #309507;
	padding: 5px 25px;
 }

 .cf-main-inner .lng-buttons .btn:hover{
	background: #c9f1ce;
	box-shadow: 2px 2px #50b059;
 }


/* Thank You Page Css */

.cf-thank-outer{
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}


.cf-thank-middle {
    display: table-cell;
    vertical-align: middle;
}

.cf-thank-inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    text-align: center;
}

.cf-thank-inner .heading{
	font-size: 4.2em;
	margin-top: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #333434;
}

.cf-thank-inner .sub-heading {
    font-size: 1.9em;
    font-weight: 300 !important;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: #323433;
 }
 .cf-thank-inner  .namste{
 	padding: 30px 0px;
    width: 150px;
    text-align: center;
    position: relative;
    margin: 0 auto;
 }
 .cf-thank-inner  .namste.centered-logo img{
	max-width: 100%;
	position: relative;
	max-width: 150px;
	height: auto;
}

 .cf-thank-inner  .namste.centered-logo:after{
 	position: absolute;
    bottom: 0px;
    text-align: center;
    content: "";
    left: 55px;
    width: 40px;
    margin: 0 auto;
    border-bottom: 2px solid #323433;
 }


 /*  Rating Page */
.blocks-feed{
	padding-left: 0px;
    padding-right: 0px;

}


.block-list-left{
	width: 25%;
	float: left;
	border-right: 2px dashed #3c7255;
}

.block-list-left .l-feature{
    padding: 25px 0px;
}

.block-list-left .block-cleanlines{
	background: #fce6d7;
}

.block-list-left .block-grd{
	
	background: -webkit-linear-gradient( #f9e2d2 , #f9e6d5); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient( #f9e2d2, #f9e6d5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient( #f9e2d2, #f9e6d5); /* For Firefox 3.6 to 15 */
	background: linear-gradient( #f9e2d2, #f9e6d5); /* Standard syntax */
}
.block-list-left .block-grd-low{
	background:#e2e6cb
}

.block-list-left .block-grd-med{
	background: #d2e1c2;
}

.block-list-left .block-grd-plain{
background: #c2deb6;
}


.block-list-left  .l-feature {
    height: 170px;
}

.block-list-left  .l-feature .icon-cf p {
	margin: 5px auto;
}

.block-list-right{
	width: 75%;
	float: left;
}
.block-list-right .r-options .list-opt{
	margin-bottom: 0px;
}
.block-list-right .r-options .list-opt .option-item{
    height: 170px;
    display: inline-block;
    width: 24%;
    padding: 40px 0px;
}

.block-list-left .l-feature p.text-center {
    margin: 5px auto !important;
}


.top-lister{
	 background: #fae8c8; /* For browsers that do not support gradients */
	 background: -webkit-linear-gradient(left top, #fae8c8, #fcfcfc); /* For Safari 5.1 to 6.0 */
	 background: -o-linear-gradient(bottom right, #fae8c8, #fcfcfc); /* For Opera 11.1 to 12.0 */
	 background: -moz-linear-gradient(bottom right, #fae8c8, #fcfcfc); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(to bottom right, #fae8c8, #fcfcfc); /* Standard syntax */
}

.second-lister{
	background: #ffffff; 
}
.third-lister{
	box-shadow: inset 0 7px 9px -8px rgb(250, 232, 200);
	background: #fae8c8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #fff8f0 0.5%, #ffffff 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #fff8f0 0.5%, #ffffff 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #fff8f0 0.5%, #ffffff 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #fff8f0 0.5%, #ffffff 100%); /* Standard syntax */
}
.fourth-lister{
	box-shadow: inset 0 9px 9px -8px rgb(255, 241, 217);
}
.fifth-lister{
	background: -webkit-linear-gradient(left top,  #ffffff 75%, #ceead4 100%) ; /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #ffffff 75%, #ceead4 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #ffffff 75%, #ceead4 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #ffffff 75%, #ceead4s 100%);
	box-shadow: inset 0 9px 9px -8px rgb(250, 232, 200);
}
.sixth-lister{
    box-shadow: inset 0 9px 9px -9px #e0f9a7;
}
.seventh-lister{
	box-shadow: inset 0 9px 9px -9px #e0f9a7;
	background: -webkit-linear-gradient(left top,  #ffffff 1%, #ceead4 100%) ; /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #ffffff 1%, #ceead4 100%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, #ffffff 1%, #ceead4 100%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #ffffff 1%, #ceead4 100%);
}


.btn-inline li.option-item{
	display: inline-block;	
    margin: 0px 10px;
}
/* .icon-option{
	border-radius: 37px;
    border: 1px solid grey;
    width: 60px;
    margin: 0px auto;
    padding: 9px;
} */

/* .icon-option .fa{
	font-size: 36px;
} */

.list-opt .option-item p{
	margin: 15px auto 5px auto !important;
	font-size: 16px;
}

.icon-excellent{
	background: url('../img/rating/White/excellent.png') no-repeat;
}
.icon-good{
	background: url('../img/rating/White/good.png') no-repeat;
}
.icon-average{
	background: url('../img/rating/White/average.png') no-repeat;
}
.icon-poor{
	background: url('../img/rating/White/poor.png') no-repeat;
}
.icon-yes{
	background: url('../img/rating/White/yes.png') no-repeat;
}
.icon-no{
	background: url('../img/rating/White/no.png') no-repeat;
}
/* Hover image icons */
.icon-excellent:hover{
	background: url('../img/rating/color/excellent.png') no-repeat;
}
.icon-good:hover{
	background: url('../img/rating/color/good.png') no-repeat;
}
.icon-average:hover{
	background: url('../img/rating/color/average.png') no-repeat;
}
.icon-poor:hover{
	background: url('../img/rating/color/poor.png') no-repeat;
}
.icon-yes:hover{
	background: url('../img/rating/color/yes.png') no-repeat;
}
.icon-no:hover{
	background: url('../img/rating/color/no.png') no-repeat;
}

.icon-option{
	width: 57px;
	height: 57px;
	margin: 0 auto;
	cursor: pointer;
	background-position: center;
    background-size: 100% 100%;
}

.block-grd-plain {
    height: 140px !important;
}

.r-options.seventh-lister{
	height: 140px !important;
}

ul.list-inline.btn-inline.pull-right {
    padding: 45px 0px;
    margin-right: 30px;
    float: right;
    margin-bottom: 0px;
}

ul.list-inline.btn-inline  li>button.btn-primary{
    font-size: 17px;
    background: #3775ba;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}


/************** Modal Header ************/
.sub-feed .modal-header{
	
	padding: 0px;
}

.sub-feed .modal-content{
	border: none;
}

.sub-feed .modal-header a{
	color: #ffffff;
	font-size: 16px;
	padding: 15px 35px;
	    font-weight: 400;
	display: inline-block;
	line-height: 22px;
	text-decoration: none;
}


.sub-feed .modal-header .modal-title {
	line-height: 1.3;
	background: #458bcc;
	display: inherit;
    width: 100%;
    font-size: 1.5em;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.sub-feed .modal-header .modal-title a:hover{
	background:#3774b8;
}
.sub-feed .modal-header .close{
    border-radius: 50%;
    position: absolute;
    background: url('../img/X.png') no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    outline: none;
    line-height: 0px;
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 0px;
    margin: 8px;
    opacity: 1;
   	right: 0px;
}

.sub-feed .modal-header .close span{
	font-weight: 100;
    color: #ffffff;
    font-size: 40px;
    line-height: 0px;
}

button, input, button:active, button:focus, input:focus, input:active {
	box-shadow: none;
}

.sub-feed .modal-body{
	    margin-top: -1px;
	padding: 15px 40px;
	background: url('../img/bg2.png') no-repeat;
    background-size: 100% 100%;
     border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-position: center;
}
.line-form  input, .line-form  textarea{
	border: none;
}

.line-form .fw-control{
	width: 100%;
	display: table;
	border-bottom: 1px solid #bdbdbd;
}

.line-form .fw-control .label-line{
	width: 20%;
    float: left;
    color: #898989;
    font-size: 14px;
    display: table-cell;
    padding: 10px 0px;
}

.line-form .fw-control .input-line{
	width: 80%;
	float: left;
	color: #898989;
    font-size: 14px;
    display: table-cell;
    padding: 10px 0px;
    background: transparent;
}

.line-form .fw-control input:focus, .line-form .fw-control textarea:focus{
	outline: none !important;
	box-shadow: none !important;
}

.line-form .fw-control textarea{
	background: transparent;
	color: #898989;
	padding: 10px 0px;
    font-size: 14px;
}
.line-form .btn-submit button{
	box-shadow: none;
    border-radius: 0px;
    padding: 7px 25px;
    font-size: 16px;
    cursor: pointer;
    background: #3b7ac6;
}

button:focus{
	box-shadow: none !important;
}
   
.line-form  .btn-submit {
    padding-top: 10px;
}